@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    <li class="nav-item">
    <form class="form-inline" asp-controller="Catalogo" asp-action="Index">
        <div class="input-group">
            <input type="text" class="form-control" name="searchString" placeholder="Buscar">
            <div class="input-group-append"> 
                 <button class="btn btn-outline-light" type="submit">Buscar</button>
            </div>
        </div>
    </form>
    </li>
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item nav-item-centered">
        <form asp-controller="Carrito" asp-action="Index">
                <input type="image" src="/images/icon_carrito2.png" alt="Carrito" />
        </form>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @User.Identity?.Name</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
