@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="slider">
        <div class="list">
            <div class="item">
                <img src="/images/img1.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/img2.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/img3.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/img4.jpg" alt="">
            </div>
            <div class="item">
                <img src="/images/img5.jpg" alt="">
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <ul class="dots">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <section class="dishes" id="dishes">

        <h3 class="sub-heading"> Solo por hoy </h3>
        <h1 class="heading"> productos en oferta especial </h1>

        <div class="box-container">

            <div class="box">
                <img src="https://plazavea.vteximg.com.br/arquivos/ids/28725095-300-300/20358135.jpg?v=638429528995130000" alt="">
                <h3>Cartuchera CLASS&WORK</h3>
                <p><del>Antes: S/4.90</del></p>
                <span>Ahora<br>S/2.90<br></span>
                <a href="#" class="btn">comprar</a>
            </div>

            <div class="box">
                <img src="https://plazavea.vteximg.com.br/arquivos/ids/28725113-300-300/20389600.jpg?v=638429530502130000" alt="">
                <h3>Lonchera CLASS&WORK</h3>
                <p><del>Antes: S/24.90</del></p>
                <span>Ahora<br>S/17.90<br></span>
                <a href="#" class="btn">comprar</a>
            </div>

            <div class="box">
                <img src="https://plazavea.vteximg.com.br/arquivos/ids/28892916-300-300/20390298.jpg?v=638482260073730000" alt="">
                <h3>Adorno Perro Manhatan</h3>
                <p><del>Antes: S/9.90</del></p>
                <span>Ahora<br>S/8.90<br></span>
                <a href="#" class="btn">comprar</a>
            </div>

            <div class="box">
                <img src="https://plazavea.vteximg.com.br/arquivos/ids/291889-300-300/941818.jpg?v=637165401077070000" alt="">
                <h3>plumones Artesco</h3>
                <p><del>Antes: S/5.90</del></p>
                <span>Ahora<br>S/3.70<br></span>
                <a href="#" class="btn">comprar</a>
            </div>

            <div class="box">
                <img src="https://plazavea.vteximg.com.br/arquivos/ids/26963693-300-300/20280806.jpg?v=638241409358100000" alt="">
                <h3>Bloqueador Neutrogena</h3>
                <p><del>Antes: S/65.90</del></p>
                <span>Ahora<br>S/56.00<br></span>
                <a href="#" class="btn">comprar</a>
            </div>

            <div class="box">
                <img src="https://plazavea.vteximg.com.br/arquivos/ids/26358764-184-184/20281722.jpg?v=638193906575500000" alt="">
                <h3>Jabon Dove</h3>
                <p><del>Antes: S/13.50</del></p>
                <span>Ahora<br>S/12.50<br></span>
                <a href="#" class="btn">comprar</a>
            </div>

       

        </div>
    

</section>

    <h1 class="display-4"></h1>
    
</div>
